*.swp
*~
*.spv
VulkanTest
.gdbhist
chalet.obj
*.o
thesis
CMakeFiles/
CMakeCache.txt
gmon.out
Makefile
.gdb_history
*.gz
cmake_install.cmake
build/
*.log
*.dump
*.data
*.data.*
*.filters
*.user
*.sln
*.vcxproj
*.exe
Debug/
.vs
*.db
x64/
compile.bat
